* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

nav {
    width: 100%;
    height: 65px;
    background-color: #426F7E;
}

.center {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    height: 65px;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center h1,p {
    color: #fff;
}

.center h1 {
    font-size: 24px;
    cursor: pointer;
}

.center a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.opcoes {
    display: flex;
}

.opcoes p {
    padding-right: 30px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 15px 10px; 
}

.container button {
    border: none;
    border-radius: 5px;
    width: 113px;
    height: 34px;
    border: 1px solid #044053;
    background: none;
    cursor: pointer;
    color: #044053;
    font-size: 14px;
    transition: .5s;
}

.container button:hover {
    background: #044053;
    color: #fff;
}

.box-tarefa {
    /* margin-top: 20px; */
    width: 100%;
    max-width: 250px;
    height: 533px;
    background: #F2F2F2;
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    margin: 20px 10px;
}

.box-tarefa h2 {
    font-size: 18px;
}

.tarefa {
    background: #F2C94C;
    width: 100%;
    height: 92px;
    margin: 20px 0;
    padding: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    position: relative;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.options-open {
    color: #F79F1F;
    float: right;
    cursor: pointer;
    font-size: 12px;
}

.tarefa .options {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #044053;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-close {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
} 

.tarefa .options form input[type="submit"] {
    height: 30px;
    width: 40px;
    cursor: pointer;
    font-size: 12px;
    background: #F2C94C;
    color: #044053;
    border: none;
}

.deletar {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #EA2027;
    cursor: pointer;
}

.tarefa .options select {
    background: #006266;
    border: none;
    color: #fff;
    width: 150px;
    height: 30px;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #426F7E;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #044053;
}

@media (max-width: 573px) {
    .box-tarefa {
        max-width: 350px;
    }
}